/* Services */
.services{
    background-color: var(--bg-secondary);
    padding: 50px 0;
}

.services .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__text{
    font-size: 1.4rem;
    color: var(--clr-primary);
    text-transform: uppercase;
    letter-spacing: 0.1em; 
    margin-bottom: -18px;
}

.services__title{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 40px;
    position: relative;
}

.services__title::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: var(--clr-primary);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}

.services__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}


.services__card{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.services__card__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid var(--bg-primary);
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.services__card__img img{
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.services__card__img img:hover{
    transform: scale(1.1);
}


.services__card-title {
    font-size: 2rem;
    color: #fff;
}

.services__card-text {
    color: var(--clr-primary);
    width: 80%;
}

.services__gallery {
    margin: 100px;
    width: 100%;
    position: relative;
}

.services__item {
    width: 80%;
    height: auto;
    position: relative;
}

.services__img {
    width: 100%;
}

.services__caption {
    position: absolute;
    bottom: -40px;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 300px;
}

.services__caption-title {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.1em; 
}

.services__caption-text {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}

.services__thumb {
    position: absolute;
    bottom: -50px;
    right: 0;
}

.services__thumb-img {
    width: 300px;
    border: 10px solid var(--bg-secondary);
    border-radius: 4px;
}
